img {
  width: 80%;
  height: 400px;
}
.added-quantity {
  width: 50px;
  margin: 0;
  line-height: 32px;
  border: 1px solid #000;
}
.quantity {
  margin: 20px 0;
}
.button-section {
  margin-bottom: 20px;
}
.button-section button{
  margin-right: 20px;
}
.quantity-button {
  margin-right: 20px;
}
a.back-to-products {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.customer-reviews div p {
  margin: 0;
  font-size: 14px
}
.customer-reviews div{
  margin-bottom: 10px;
}